@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #d8f3dc;
}
::-webkit-scrollbar-thumb {
  background: #52b788;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #2d6a4f;
}
